table {
  padding-right: 30px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(231, 3, 19, 1) 32%,
    rgba(231, 3, 19, 1) 72%,
    rgba(17, 0, 3, 1) 100%,
    rgba(231, 3, 19, 1) 100%
  );
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}
header {
  padding: 50px 0px;
  margin-bottom: 0px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(231, 3, 19, 1) 32%,
    rgba(231, 3, 19, 1) 72%,
    rgba(17, 0, 3, 1) 100%,
    rgba(231, 3, 19, 1) 100%
  );
}
h1 {
  padding: 50px 0px;
  margin-bottom: 0px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(231, 3, 19, 1) 32%,
    rgba(231, 3, 19, 1) 72%,
    rgba(17, 0, 3, 1) 100%,
    rgba(231, 3, 19, 1) 100%
  );
  color: white;
  font-family: marvel;
  text-align: left;
  font-size: 100px;
}
.btn {
  cursor: pointer;
  color: black;
  font-family: marvel;
  font-size: 30px;
  margin-top: 520px;
  padding: 20px 40px;
  position: absolute;
  top: -310px;
  width: 100%;
}
.name {
  font-family: marvel2;
  color: white;
  font-size: 20px;
  text-align: center;
}
img {
  border-radius: 10px;
}

li {
  list-style: none;
  border-radius: 10px;
  border: 3px solid white;
  margin-top: 100px;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .btn {
    margin-top: 510px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  table {
    padding-right: 30px;
    margin-top: 360px;
  }
}
