<div>
    <h1>MARVEL COMICS</h1>
    <p>A Marvel Comics é uma editora norte-americana de mídias relacionadas. Hoje a Marvel Comics é considerada a maior
        editora de histórias em quadrinhos do mundo. Em 2009, a The Walt Disney Company, adquiriu a Marvel
        Entertainment, a empresa mãe da Marvel. A empresa conta com diversos personagens bem conhecidos como:
        Homem-Aranha, Homem-Formiga, Capitão América, Capitã Marvel, Vespa, Demolidor, Deadpool, Justiceiro, Homem de
        Ferro, Punho de Ferro, Motoqueiro Fantasma, Feiticeira Escarlate, Viúva Negra, Jessica Jones, Luke Cage, Máquina
        de Combate, Pantera Negra, Gavião Arqueiro, Doutor Estranho, Wolverine, Hulk, Thor, Garota Marvel, Falcão e suas
        equipes como: Vingadores, Defensores, Eternos, X-Men, A-Force, Manto e Adaga, Quarteto Fantástico, Guardiões da
        Galáxia, Agents of S.H.I.E.L.D, Jovens Vingadores, Fugitivos, Inumanos dentre outros, e os antagonistas como:
        Thanos, Ultron, Duende Verde, Caveira Vermelha, Doutor Destino, Rei do Crime, Magneto e Loki. A Marvel
        anteriormente Marvel Comics Group, começou em 1939 como Timely Comics e no início da década de 1950, se tornou
        conhecida como Atlas Comics. A marca Marvel começou em 1961, ano em que a empresa lançou Quarteto Fantástico e
        outros títulos de super-heróis criados por Stan Lee, Jack Kirby, Steve Ditko e muitos outros. A Marvel também
        tinha uma editora chamada Epic Comics, criada em 1980, destinada para o público mais velho que a linha
        tradicional da Marvel, mas foi extinta em 1995 ou 1998 com sua última publicação. Em 1981, a Marvel comprou os
        estúdios de animação DePatie-FreLeng Enterprises, a empresa foi rebatizada de Marvel Productions Ltd. A Marvel
        também é proprietário dos selos Max, criada em 2001, após a editora ter saído do Comics Code Authority e ter
        estabelecido o seu próprio sistema de revistas, e também é dona da Knights e da Icon Comics. A maioria dos
        personagens fictícios da Marvel operam em uma única realidade conhecida como o Universo Marvel, com a maioria
        dos locais refletindo lugares da vida real; Muitos personagens principais são ambientados em Nova York, Estados
        Unidos.</p>
    <h2>INÍCIO</h2>
    <p>Marvel Comics foi fundada por volta de 1930 e 1940 por Martin Goodman, com o nome de Timely Comics.[2] Goodman,
        um editor de revistas pulp[3] que começou a vender histórias de faroeste em 1933, expandiu suas atividades para
        um emergente - e até então bastante popular - mercado de revistas de histórias em quadrinhos originais.[4]
        Goodman começou a empresa na 330 West 42nd Street, New York City, New York. Ele detinha oficialmente os títulos
        de editor, editor-executivo e gerente de negócios, com Abraham Goodman ocupando oficialmente o cargo de
        publisher.[4] A primeira publicação ocorreu em 1939, com o número 1 da revista Marvel Comics, onde se deram as
        primeiras aparições do super-herói Tocha Humana e do anti-herói Namor, o Príncipe Submarino. A equipe por trás
        desse sucesso de vendas veio de uma outra editora, a Funnies, Inc., mas no ano seguinte, a própria equipe da
        editora ocupou este posto. Com a segunda edição, o título da série mudou para Marvel Mystery Comics.[5] O
        primeiro editor de quadrinhos da Marvel, o também roteirista e desenhista Joe Simon, se juntou a Jack Kirby,
        para criar o primeiro herói patriota da história, o Capitão América, em Captain America Comics #1. (Março de
        1941). Capitão América logo virou um sucesso, com uma circulação de quase um milhão. Portanto, nos anos 40 a
        Timely tornou-se muito conhecida. Em 1939, Goodman contratou o primo de sua esposa,[6] Stanley Martin Lieber,
        como auxiliar geral de escritório.[7] Quando o editor Simons deixou a companhia no final de 1941, Goodman fez de
        Lieber - que escreveria sob o pseudônimo de "Stan Lee" - editor provisório da linha de quadrinhos, uma posição
        que Lee manteve durante décadas, exceto por três anos durante o serviço militar na II Guerra Mundial. Lee
        escreveu extensivamente para a Timely Comics, contribuindo para vários títulos diferentes. O mercado americano
        de quadrinhos de super-heróis caiu no pós-guerra. A Editora de Goodman deixou de publicar a maior parte de suas
        obras anteriores, e expandiu-se para uma ampla variedade de gêneros que a Timely Comics ainda não havia
        publicado, com ênfase no gênero de horror, faroeste, humor, animais, crime, quadrinhos de guerra, e
        posteriormente, acrescentando uma porção de revistas da selva, títulos de romance e até mesmo espionagem,
        aventura medieval, histórias da Bíblia e esportes. Como outras editoras, Goodman também cortejou as leitoras com
        quadrinhos principalmente humorístico sobre modelos e mulheres famosas. A estratégia de negócios do editor
        Martin Goodman envolvido com suas várias revistas publicadas por várias empresas que operavam a partir do mesmo
        escritório e com a mesma equipe.[3][8] Uma dessas empresas de fachada foi chamada de Marvel Comics. Algumas
        capas de revistas, como All Surprise Comics #12 (Inverno de 1946/1947), traziam a frase "A Marvel Magazine" (uma
        revista Marvel) muitos anos antes Goodman formalmente adotar o nome em 1961.[9]</p>
</div>